.contacto {
    padding: 5rem 1rem;
    text-align: center;

}
.contacto form {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    width: 75%;
}
.contacto form input,
textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
.btn-enviar{
    width: 50%;
    align-self: center;
}